.about_page

  img
    max-height: 100%
    max-width: 100%

  .panel
    border: none
    border-radius: 0
    margin-bottom: 0

  .collapse
    display: none

    &.in
      display: table

  .chief_biography
    font-family: roboto_thin_italic, "Helvetica Neue", Helvetica, Arial, sans-serif

  a.chief_link
    background-color: hsla(0, 0%, 100%, 0.05)
    border: none
    color: white
    cursor: pointer
    display: block
    font-size: 16px
    padding: 10px 30px
    margin-left: -30px

    &:hover,
    &.collapsed:hover
      background-color: hsla(0, 0%, 100%, 0.1)
      border: none

    &.collapsed
      background-color: transparent