.about_page
  position: relative
  z-index: 3

  .team_list
    margin-bottom: 30px

  img
    max-height: 100%
    max-width: 100%

  .panel
    background: transparent
    border: none
    border-radius: 0
    margin-bottom: 0

  .with_white_background > div
    background-color: rgba(29, 28, 28, 0.85)
    margin: 0 -15px
    padding: 0 15px

  .collapse
    display: none

    &.in
      display: table

  .chief_biography
    font-family: roboto_thin_italic, "Helvetica Neue", Helvetica, Arial, sans-serif
    margin-bottom: 40px

  a.chief_link
    background-color: hsla(0, 0%, 100%, 0.1)
    border: none
    color: white
    cursor: pointer
    display: block
    font-size: 16px
    padding: 3px 0 3px 15px
    margin:
      left: -15px
      right: -15px

    &:hover,
    &.collapsed:hover
      background-color: hsla(0, 0%, 100%, 0.2)
      border: none

    &.collapsed
      background-color: transparent

#faceless_void
  height: 100px
  width: 100%