div.consulting
  div#consulting_slider
    position: absolute
    height: 100%
    width: 100%
    overflow: hidden


div.consulting_block
  position: relative

  .description
    margin-bottom: 30px

  div.consulting_layer
    z-index: 3

  a.slider_link
    background-color: hsla(0, 0, 0, 0.6)
    border: none
    border-radius: 40px 0 0 40px
    display: block
    font-family: roboto_thin, geometria_light, "Helvetica Neue", Helvetica, Arial, sans-serif
    font-size: 60px
    height: 80px
    right: 50%
    line-height: 68px
    padding-left: 8px
    position: absolute
    top: 150px
    width: 40px
    z-index: 3

    &.expand
      right: 0

    &:hover
      background-color: hsla(0, 0, 20%, 0.6)
      border: none


div.consulting_link_block
  margin-bottom: 30px
  text-align: right

a.next_consulting
  background-color: hsl(0, 2%, 16%)
  border: none
  display: inline-block
  margin-right: -15px
  padding: 5px 0
  text-align: center
  min-width: 50%

  &:hover
    background-color: hsl(0, 2%, 20%)
    border: none

