div.consulting_link_block
  margin-bottom: 30px
  text-align: right

a.next_consulting
  background-color: hsl(0, 2%, 16%)
  border: none
  display: inline-block
  margin-right: -15px
  padding: 5px 0
  text-align: center
  min-width: 50%

  &:hover
    background-color: hsl(0, 2%, 20%)
    border: none

