img.main_dark_logo
  background-color: #f9f9f9
  box-shadow: 0 0 30px #f9f9f9, 0 0 30px #f9f9f9, 0 0 30px #f9f9f9
  position: absolute
  left: 50%
  top: 40%
  margin-left: -71px
  margin-top: -71px


#double-gis-map
  bottom: 50px
  left: 0
  position: absolute
  right: 0
  top: 80px
  z-index: 0

.index2
  z-index: 2
