button.button,
a.button
  background-color: hsl(0, 1%, 31%)
  box-shadow: 5px 5px 3px #444
  color: #f9f9f9
  font-family: geometria_light, "Helvetica Neue", Helvetica, Arial, sans-serif
  font-size: 14px
  padding: 14px 36px