html, body
  height: 100%

#main_wrapper
  height: auto
  min-height: 100%
  overflow: auto
  padding: 80px 0 50px
  position: relative
  width: 100%

  .dark_container
    height: 100%
    position: absolute
    top: 0
    width: inherit
    z-index: 2
    > div
      height: 100%
      > div
        margin: 0 -15px
        height: 100%

  .index3
    position: relative
    z-index: 3


  div.with_dark_background
    background-color: hsla(0, 0%, 0%, 0.7)

  div.with_dark_background_85
    background-color: hsla(0, 0%, 0%, 0.85)

  div.with_dark_background_100
    background-color: hsl(0,2,16%)

#header
  background-color: hsl(0, 1%, 31%)
  height: 80px
  position: absolute
  text-align: center
  top: 0
  width: 100%
  z-index: 3

  a.menu_logo_link
    border: none
    margin-right: 48px
    text-decoration: none

    img.menu_logo
      margin-top: 7px
      vertical-align: top
      width: 68px

  ul.main_menu
    display: inline-block
    padding: 0
    margin: 0

    li
      display: inline-block
      padding: 0
      margin: 0

      a
        border: none
        color: white
        display: block
        padding: 30px 26px
        text-decoration: none
        width: auto

        &:hover
          background-color: hsla(0,0%,100%, 0.5)
          color: hsl(0, 1%, 31%)

        &.active
          background-color: #f9f9f9
          color: hsl(0, 1%, 31%)
    
@media (max-width: 1024px)
  #header
    ul.main_menu
      li
        a
          padding: 30px 10px
  
#footer
  background-color: hsl(0, 1%, 31%)
  bottom: 0
  color: white
  height: 50px
  left: 0
  position: absolute
  width: 100%
  z-index: 3

  .container
    font-size: 10px
    margin-top: 18px

body.welcome
  background-image: image-url('background/main.jpg')
  background-position: right center
  background-repeat: no-repeat
  background-size: contain
  background-attachment: fixed

body.about
  background: image-url('background/about.jpg') center center no-repeat
  background-size: cover
  background-attachment: fixed

body.master_classes
  background: image-url('background/master_class.png') center center no-repeat
  background-size: cover
  background-attachment: fixed




h1, h2, h3, h4, h5,
div.h1, div.h2, div.h3, div.h4, div.h5
  font-family: roboto_thin, geometria_light, "Helvetica Neue", Helvetica, Arial, sans-serif
  font-weight: normal

h1, div.h1
  font-size: 48px
  margin-bottom: 30px
h2, div.h2
  font-size: 36px
  margin-bottom: 20px
h3, div.h3
  font-size: 24px
  margin-bottom: 16px

.first_line
  margin-top: 0


a
  border-bottom: 1px dotted white
  color: white
  text-decoration: none

  &:hover
    border-bottom: 1px solid white
    color: white
    text-decoration: none
  &:focus
    color: white
    border: none
    outline: none

ul.menu
  display: inline-block
  padding: 0
  margin: 0

  li
    display: inline-block
    padding: 0
    margin: 0

    a
      background-color: hsl(0,2,16%)
      border: none
      color: white
      display: block
      padding: 6px 20px
      text-decoration: none
      width: auto

      &:hover,
      &:hover.active
        background-color: hsl(0,0%,35%)

      &.active
        background-color: hsl(0, 0%, 31%)

