@import "bootstrap-sprockets";
@import "bootstrap";

@import "global/*";
@import "views/*";

body
{
  min-width: 992px;
  background-color: #f9f9f9;
  color: white;
  font-family: geometria_light, "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
}
