@import "bootstrap-sprockets";
@import "bootstrap";

@import 'vendor/*';
@import "global/*";
@import "views/*";

body
{
  background-color: #f9f9f9;
  color: white;
  font-family: geometria_light, "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
}

#footer{
  #vf-food-copyrights{
    display: inline-block;
  }
  #kerweb-copyrights{
    display: inline-block;
    float: right
  }
}
