title page.seo.title
meta property='og:type' content='article'
meta property='og:title' content=page.seo.title
meta name='description' property='og:description' content=page.seo.description
meta property='keywords' content=page.seo.keywords
